html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
label{
  font-size: 20px;
}
textarea{
  color: #00acc7;
  background-color:#00acc7;

  
}
input {
  font-weight: 300;
  background: #00acc7;
}
input[type=button],input[type=submit]{
  font-size: 20px;
  font-weight: bold;
}
p {
  font-weight: 700;
}